body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_reviewsCard2
{
   margin: 30px 10px 30px 10px;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#reviewsCard2-card-body
{
   padding: 0;
   font-size: 0;
}
#reviewsCard2-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#reviewsCard2-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#reviewsCard2-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #FF6000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard2-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard2-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard2-card-item3 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard2-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard2-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard2-card-item4 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard2-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard2-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard2-card-item5 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard2-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard2-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard2-card-item6 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard2-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard2-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard2-card-item7 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard2-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #FFFFFF;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   text-align: justify;
}
#wb_Card1
{
   margin: 30px 10px 30px 10px;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#Card1-card-body
{
   padding: 0;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #FF6000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item3 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item4 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item5 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item6 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item7 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card1-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #FFFFFF;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   text-align: justify;
}
#wb_Card2
{
   margin: 30px 10px 30px 10px;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#Card2-card-body
{
   padding: 0;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #FF6000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item3 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item4 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item5 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item6 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card2-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#Card2-card-item7 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card2-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #FFFFFF;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: italic;
   font-size: 35px;
   text-align: justify;
}
#wb_reviewsCard1
{
   margin: 30px 10px 30px 10px;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#reviewsCard1-card-body
{
   padding: 0;
   font-size: 0;
}
#reviewsCard1-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#reviewsCard1-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#reviewsCard1-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #FF6000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard1-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard1-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard1-card-item3 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard1-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard1-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard1-card-item4 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard1-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard1-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard1-card-item5 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard1-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard1-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard1-card-item6 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard1-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#reviewsCard1-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#reviewsCard1-card-item7 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#reviewsCard1-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #FFFFFF;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: italic;
   font-size: 35px;
   text-align: justify;
}
#wb_Card3
{
   margin: 30px 10px 30px 10px;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#Card3-card-body
{
   padding: 0;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #FF6000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card3-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card3-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card3-card-item3 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card3-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card3-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card3-card-item4 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card3-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card3-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card3-card-item5 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card3-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card3-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card3-card-item6 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card3-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card3-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#Card3-card-item7 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card3-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #FFFFFF;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: italic;
   font-size: 27px;
   text-align: justify;
}
#wb_Card4
{
   margin: 30px 10px 30px 10px;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#Card4-card-body
{
   padding: 0;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 50px 0 -100px 50px;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   width: 100%;
   height: 86px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 30px 30px 10px 150px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 150px;
   padding: 0;
   color: #FF6000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#Card4-card-item3
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 0 150px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card4-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item3 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card4-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card4-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item4 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card4-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card4-card-item5 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item5 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card4-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FF6000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card4-card-item6 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item6 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card4-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card4-card-item7 a
{
   color: inherit;
   text-decoration: none;
}
#Card4-card-item7 i
{
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Card4-card-item8
{
   box-sizing: border-box;
   margin: 30px 30px 50px 50px;
   padding: 0;
   color: #FFFFFF;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: italic;
   font-size: 27px;
   text-align: justify;
}
.navigationMenu .hide 
{
   display: none!important;
}
.navigationMenu .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.navigationMenu .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #2B2B2B;
   text-align: left;
}
#navigationMenu, .navigationMenu .nav, .navigationMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.navigationMenu .nav:before,
.navigationMenu .nav:after 
{
   content: " ";
   display: table;
}
.navigationMenu .nav:after 
{
   clear: both;
}
.navigationMenu .nav a 
{
   text-decoration: none;
}
.navigationMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.navigationMenu .nav ul ul
{
   margin-bottom: 0;
}
.navigationMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.navigationMenu .container:before,
.navigationMenu .container:after 
{
   content: " ";
   display: table;
}
.navigationMenu .container:after 
{
   clear: both;
}
.navigationMenu .collapse 
{
   display: none;
}
.navigationMenu .collapse.show 
{
   display: block;
}
.navigationMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.navigationMenu .caret, .navigationMenu .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.navigationMenu .dropdown 
{
   position: relative;
}
.navigationMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.navigationMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.navigationMenu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.navigationMenu .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #2B2B2B;
   white-space: nowrap;
}
.navigationMenu .dropdown-menu>li>a:hover,
.navigationMenu .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #FF6000;
   background-color: #EDEDED;
   background-image: none;
}
.navigationMenu .dropdown-menu>li>a.active,
.navigationMenu .dropdown-menu>li>a.active:hover,
.navigationMenu .dropdown-menu>li>a.active:focus
{
   color: #FF6000;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.navigationMenu .show>.dropdown-menu 
{
   display: block;
}
.navigationMenu .show>a 
{
   outline: 0;
}
.navigationMenu .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.navigationMenu .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.navigationMenu .nav>li 
{
   position: relative;
   display: block;
}
.navigationMenu .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.navigationMenu .nav .show>a,
.navigationMenu .nav .show>a:hover,
.navigationMenu .nav .show>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.navigationMenu .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.navigationMenu .nav>li>a>img 
{
   max-width: none;
}
.navigationMenu .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.navigationMenu
{
   position: relative;
}
.navigationMenu:before,
.navigationMenu:after
{
   content: " ";
   display: table;
}
.navigationMenu:after
{
   clear: both;
}
.navigationMenu .navbar-header:before,
.navigationMenu .navbar-header:after
{
   content: " ";
   display: table;
}
.navigationMenu .navbar-header:after
{
   clear: both;
}
.navigationMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.navigationMenu-navbar-collapse:before,
.navigationMenu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.navigationMenu-navbar-collapse:after
{
   clear: both;
}
.navigationMenu-navbar-collapse.show 
{
   overflow-y: auto;
}
.navigationMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.navigationMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.navigationMenu .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.navigationMenu .navbar-nav
{
   margin: 6px -15px;
}
.navigationMenu .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.navigationMenu .navbar-nav>li>a
{
   color: #2B2B2B;
}
.navigationMenu .navbar-nav>li>a:hover,
.navigationMenu .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FF6000;
   text-decoration: none;
}
.navigationMenu .navbar-nav>li>a.active,
.navigationMenu .navbar-nav>li>a.active:hover,
.navigationMenu .navbar-nav>li>a.active:focus
{
   color: #FF6000;
   background-color: #EDEDED;
   background-image: none;
}
.navigationMenu .navbar-toggle
{
   border: 1px solid rgba(43,43,43,0.10);
}
.navigationMenu .navbar-toggle:hover,
.navigationMenu .navbar-toggle:focus
{
   background-color: transparent;
}
.navigationMenu .navbar-toggle .icon-bar
{
   background-color: #6D6D6D;
}
.navigationMenu-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.navigationMenu .navbar-nav>.dropdown>a:hover .caret,
.navigationMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FF6000;
   border-bottom-color: #FF6000;
}
.navigationMenu .navbar-nav>.show>a,
.navigationMenu .navbar-nav>.show>a:hover,
.navigationMenu .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FF6000;
}
.navigationMenu .navbar-nav>.show>a .caret,
.navigationMenu .navbar-nav>.show>a:hover .caret,
.navigationMenu .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FF6000;
   border-bottom-color: #FF6000;
}
.navigationMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.navigationMenu .navbar-link
{
   color: #2B2B2B;
}
.navigationMenu .navbar-link:hover
{
   color: #FF6000;
}
.navigationMenu .navbar-header
{
   color: #6D6D6D;
}
@media (min-width: 480px) 
{
.navigationMenu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.navigationMenu .navbar-header
{
   float: left;
}
.navigationMenu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.navigationMenu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.navigationMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.navigationMenu .navbar-toggle
{
   display: none;
}
.navigationMenu .navbar-nav 
{
   float: right;
   margin: 0;
}
.navigationMenu .navbar-nav>li 
{
   float: left;
}
.navigationMenu .container>.navbar-header,
.navigationMenu .container>.navigationMenu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.navigationMenu .navbar-nav>.dropdown>a:hover .caret,
.navigationMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 480px) 
{
.navigationMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.navigationMenu .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.navigationMenu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.navigationMenu .navbar-nav .show .dropdown-menu>li>a,
.navigationMenu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.navigationMenu .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 480px) 
{
.navigationMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 0px;
}
.navigationMenu .navbar-nav>li>a
{
   color: #6D6D6D;
}
.navigationMenu .navbar-nav>li>a:hover,
.navigationMenu .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.navigationMenu .navbar-nav>li>a.active,
.navigationMenu .navbar-nav>li>a.active:hover,
.navigationMenu .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.navigationMenu .navbar-nav>.show>a,
.navigationMenu .navbar-nav>.show>a:hover,
.navigationMenu .navbar-nav>.show>a:focus
{
   background-color: #343A40;
   background-image: none;
   color: #FFFFFF;
}
.navigationMenu .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.navigationMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #6D6D6D;
   border-bottom-color: #6D6D6D;
}
.navigationMenu .navbar-nav > li > a.active > .caret,
.navigationMenu .navbar-nav > li > a.active:hover > .caret,
.navigationMenu .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.navigationMenu .navbar-nav>.show>a .caret,
.navigationMenu .navbar-nav>.show>a:hover .caret,
.navigationMenu .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.navigationMenu .navbar-link
{
   color: #6D6D6D;
}
.navigationMenu .navbar-link:hover 
{
   color: #fff;
}
}
#navigationMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
